<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f1816bca-7fd3-436f-9674-95d971db6170" name="testsuite1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f1816bca-7fd3-436f-9674-95d971db6170fileName">testsuite1</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="GeneratableJUnitReport@Style">Multiple Pages</con:setting>
    <con:setting id="GeneratableJUnitReport@Folder">D:\GithubProject\ReadyAPIUpdatedProject\reports\reports</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
